@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Your messages</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>From</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX">
                        <td>1</td>
                        <td><a href="~/Messages/Message">Hello</a></td>
                        <td>Adrian Rutkowski</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>